$desktop:1040px;
$tablet:980px;
$mobile:750px;

@mixin desktop(){
    @media (max-width:$desktop) {
        @content;
    }
}
@mixin tablet(){
    @media (max-width:$tablet) {
        @content;
    }
}
@mixin mobile(){
    @media (max-width:$mobile) {
        @content;
    }
}
